process {
  cpus = 6
  memory = '8 GB'

  withLabel: process_high {
    cpus = 6
    memory = '8 GB'
  }

  withName: 'KRAKEN2_CLASSIFY' {
    cpus = 6
    memory = '8 GB'
  }

  withName: 'NANOPORE_AMPLICON:KRAKEN2_CLASSIFY' {
    cpus = 6
    memory = '8 GB'
  }
}

docker {
  runOptions = '--cpus 6 --memory 8g'
}
