/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    HOMES_assembly Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    platform = 'illumina'
    input = null

    outdir = 'results/HOMES_assembly'
    publish_dir_mode = 'copy'
    monochrome_logs = false
    trace_report_suffix = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

    assembler = null
    assembly_mode = 'coassembly'
    min_contig_len = 1000
    genome_size = '100m'
    flye_mode = 'meta'

    trim_reads = true
    min_read_quality = 10
    min_read_length = 50
    adapter_1 = ''
    adapter_2 = ''

    binner = 'metabat2'
    binning_min_contig_len = 1500
    skip_binning = false

    annotation_tool = 'prokka'
    skip_annotation = false
    skip_functional_annotation = false

    illumina_assembly_container = 'staphb/megahit:1.2.9'
    nanopore_assembly_container = 'staphb/flye:2.9.4'
    binning_container = 'staphb/metabat2:2.15'
    annotation_container = 'staphb/prokka:1.14.6'

    server_queue = null
    server_cluster_options = ''
}

manifest {
    name = 'HOMES_assembly'
    description = 'HOMES Illumina and Nanopore reads assembly workflow'
    mainScript = 'main.nf'
    nextflowVersion = '>=23.04.0'
    version = '0.1.0'
}

includeConfig 'conf/base.config'

profiles {
    test_illumina {
        includeConfig 'conf/test_illumina.config'
    }

    test_nanopore {
        includeConfig 'conf/test_nanopore.config'
    }

    docker {
        docker.enabled = true
        process.container = 'docker.io/library/python:3.11'
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        process.container = 'docker://docker.io/library/python:3.11'
        params.illumina_assembly_container = 'docker://staphb/megahit:1.2.9'
        params.nanopore_assembly_container = 'docker://staphb/flye:2.9.4'
        params.binning_container = 'docker://staphb/metabat2:2.15'
        params.annotation_container = 'docker://staphb/prokka:1.14.6'
    }

    server_slurm {
        process.executor = 'slurm'
        process.queue = params.server_queue ?: null
        process.clusterOptions = params.server_cluster_options ?: ''
        singularity.enabled = true
        singularity.autoMounts = true
        process.container = 'docker://docker.io/library/python:3.11'
        params.illumina_assembly_container = 'docker://staphb/megahit:1.2.9'
        params.nanopore_assembly_container = 'docker://staphb/flye:2.9.4'
        params.binning_container = 'docker://staphb/metabat2:2.15'
        params.annotation_container = 'docker://staphb/prokka:1.14.6'
    }

    server_pbs {
        process.executor = 'pbs'
        process.queue = params.server_queue ?: null
        process.clusterOptions = params.server_cluster_options ?: ''
        singularity.enabled = true
        singularity.autoMounts = true
        process.container = 'docker://docker.io/library/python:3.11'
        params.illumina_assembly_container = 'docker://staphb/megahit:1.2.9'
        params.nanopore_assembly_container = 'docker://staphb/flye:2.9.4'
        params.binning_container = 'docker://staphb/metabat2:2.15'
        params.annotation_container = 'docker://staphb/prokka:1.14.6'
    }
}
