/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    HOMES_metagenomics base config
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    cpus = 1
    memory = '1.GB'
    time = '1.h'
    errorStrategy = 'terminate'

    withName: PREPARE_METAGENOMICS_DATABASE {
        label = 'process_single'
        container = null
    }

    withName: VALIDATE_METAGENOMICS_SAMPLESHEET {
        label = 'process_single'
    }

    withName: METAGENOMICS_NORMALIZED_TABLES {
        label = 'process_single'
    }
}
