/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    HOMES_metagenomics Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    platform = 'illumina'
    input = null

    outdir = 'results/HOMES_metagenomics'
    publish_dir_mode = 'copy'
    monochrome_logs = false
    trace_report_suffix = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

    // Shared metagenomics taxonomy options
    classifier = 'kraken2'
    taxonomic_rank = 'S'
    kraken2_db = null
    bracken = true
    bracken_db = null
    database_url = null
    database_name = null
    taxonomy = null
    taxonomy_url = null
    store_dir = "${System.getenv('HOME')}/.homes/metagenomics"
    download_databases = true
    host_reference = null

    // Nanopore platform options
    bam = null
    database_set = 'Standard-8'
    reference = null
    ref2taxid = null
    database_sets = [
        'ncbi_16s_18s': [
            reference: 's3://ont-open-data/workflow-databases/wf-metagenomics-dbs/ncbi_16s_18s/ncbi_targeted_loci_16s_18s.fna',
            database : 's3://ont-open-data/workflow-databases/wf-metagenomics-dbs/ncbi_16s_18s/ncbi_targeted_loci_kraken2.tar.gz',
            ref2taxid: 's3://ont-open-data/workflow-databases/wf-metagenomics-dbs/ncbi_16s_18s/ref2taxid.targloci.tsv',
            taxonomy : 's3://ont-open-data/workflow-databases/wf-metagenomics-dbs/ncbi_16s_18s/new_taxdump_2025-01-01.zip'
        ],
        'ncbi_16s_18s_28s_ITS': [
            reference: 's3://ont-open-data/workflow-databases/wf-metagenomics-dbs/ncbi_16s_18s_28s_ITS/ncbi_16s_18s_28s_ITS.fna',
            database : 's3://ont-open-data/workflow-databases/wf-metagenomics-dbs/ncbi_16s_18s_28s_ITS/ncbi_16s_18s_28s_ITS_kraken2.tar.gz',
            ref2taxid: 's3://ont-open-data/workflow-databases/wf-metagenomics-dbs/ncbi_16s_18s_28s_ITS/ref2taxid.ncbi_16s_18s_28s_ITS.tsv',
            taxonomy : 's3://ont-open-data/workflow-databases/wf-metagenomics-dbs/ncbi_16s_18s_28s_ITS/new_taxdump_2025-01-01.zip'
        ],
        'SILVA_138_1': [
            reference: 's3://ont-open-data/workflow-databases/wf-metagenomics-dbs/SILVA_138_1/silva.fna',
            database : 's3://ont-open-data/workflow-databases/wf-metagenomics-dbs/SILVA_138_1/kraken2.tar.gz',
            ref2taxid: 's3://ont-open-data/workflow-databases/wf-metagenomics-dbs/SILVA_138_1/seqid2taxid.map',
            taxonomy : 's3://ont-open-data/workflow-databases/wf-metagenomics-dbs/SILVA_138_1/taxonomy.tar.gz'
        ],
        'Greengenes2_plus': [
            reference: 's3://ont-open-data/workflow-databases/wf-metagenomics-dbs/Greengenes2_plus/sequences_mm2format.fasta',
            database : 's3://ont-open-data/workflow-databases/wf-metagenomics-dbs/Greengenes2_plus/kraken2.tar.gz',
            ref2taxid: 's3://ont-open-data/workflow-databases/wf-metagenomics-dbs/Greengenes2_plus/sequences_mm2format.taxid.map',
            taxonomy : 's3://ont-open-data/workflow-databases/wf-metagenomics-dbs/Greengenes2_plus/taxdump.tar.gz'
        ],
        'Standard-8': [
            database: 's3://ont-open-data/workflow-databases/wf-metagenomics-dbs/Standard-8/k2_standard_08gb_20241228.tar.gz',
            taxonomy: 's3://ont-open-data/workflow-databases/wf-metagenomics-dbs/taxonomy/new_taxdump_2025-01-01.zip'
        ],
        'PlusPF-8': [
            database: 's3://ont-open-data/workflow-databases/wf-metagenomics-dbs/PlusPF-8/k2_pluspf_08gb_20241228.tar.gz',
            taxonomy: 's3://ont-open-data/workflow-databases/wf-metagenomics-dbs/taxonomy/new_taxdump_2025-01-01.zip'
        ],
        'PlusPFP-8': [
            database: 's3://ont-open-data/workflow-databases/wf-metagenomics-dbs/PlusPFP-8/k2_pluspfp_08gb_20241228.tar.gz',
            taxonomy: 's3://ont-open-data/workflow-databases/wf-metagenomics-dbs/taxonomy/new_taxdump_2025-01-01.zip'
        ]
    ]
    exclude_host = null
    min_len = null
    max_len = null
    min_read_qual = null
    keep_bam = false

    // Illumina platform options
    run_fastqc = true
    run_fastp = true
    run_taxpasta = true
    run_multiqc = true

    skip_host_filtering = false
    skip_taxonomy = false
    skip_abundance = false
    skip_report = false
}

manifest {
    name = 'HOMES_metagenomics'
    description = 'HOMES shotgun metagenomics workflow'
    mainScript = 'main.nf'
    nextflowVersion = '>=23.04.0'
    version = '0.1.0'
}

includeConfig 'conf/base.config'

profiles {
    test_illumina {
        includeConfig 'conf/test_illumina.config'
    }

    test_nanopore {
        includeConfig 'conf/test_nanopore.config'
    }

    docker {
        docker.enabled = true
        process.container = 'docker.io/library/python:3.11'
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        process.container = 'docker://docker.io/library/python:3.11'
    }
}
