/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    HOMES_assembly base config
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    cpus = 1
    memory = '2.GB'
    time = '1.h'
    errorStrategy = 'terminate'

    withName: VALIDATE_ASSEMBLY_SAMPLESHEET {
        label = 'process_single'
    }

    withName: ASSEMBLY_READ_QC {
        label = 'process_single'
        cpus = 1
        memory = '2.GB'
        time = '2.h'
    }

    withName: TRIM_ASSEMBLY_READS {
        label = 'process_single'
        cpus = 1
        memory = '2.GB'
        time = '2.h'
    }

    withName: ILLUMINA_ASSEMBLY {
        label = 'process_large'
        cpus = 8
        memory = '32.GB'
        time = '24.h'
    }

    withName: NANOPORE_ASSEMBLY {
        label = 'process_large'
        cpus = 8
        memory = '32.GB'
        time = '24.h'
    }

    withName: METAGENOME_BINNING {
        label = 'process_large'
        cpus = 8
        memory = '32.GB'
        time = '24.h'
    }

    withName: GENOME_FUNCTION_ANNOTATION {
        label = 'process_medium'
        cpus = 4
        memory = '16.GB'
        time = '12.h'
    }

    withName: ASSEMBLY_HTML_REPORT {
        label = 'process_single'
    }
}
