/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    HOMES_assembly Illumina test config
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    platform = 'illumina'
    input = "${projectDir}/assets/samplesheets/illumina_samplesheet.csv"
    assembler = 'megahit'
    min_contig_len = 200
    binner = 'native'
    binning_min_contig_len = 20
    annotation_tool = 'native'
    min_read_length = 20
}

process {
    withName: ILLUMINA_ASSEMBLY {
        cpus = 2
        memory = '4.GB'
        time = '1.h'
    }
    withName: METAGENOME_BINNING {
        cpus = 1
        memory = '2.GB'
        time = '1.h'
    }
    withName: GENOME_FUNCTION_ANNOTATION {
        cpus = 1
        memory = '2.GB'
        time = '1.h'
    }
}
