/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    HOMES_assembly Nanopore test config
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    platform = 'nanopore'
    input = "${projectDir}/assets/samplesheets/nanopore_samplesheet.csv"
    assembler = 'flye'
    genome_size = '20k'
    min_contig_len = 200
    binner = 'native'
    binning_min_contig_len = 20
    annotation_tool = 'native'
    min_read_length = 20
}

process {
    withName: NANOPORE_ASSEMBLY {
        cpus = 2
        memory = '4.GB'
        time = '1.h'
    }
    withName: METAGENOME_BINNING {
        cpus = 1
        memory = '2.GB'
        time = '1.h'
    }
    withName: GENOME_FUNCTION_ANNOTATION {
        cpus = 1
        memory = '2.GB'
        time = '1.h'
    }
}
